@charset "UTF-8";

div{
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

div:hover{
    background-color: yellow;
    
}
